<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"/>
    <link href="{% static 'css/main.css'%}" rel="stylesheet"/>

    <title>Image Caption Generation</title>
  </head>
  <body style="background-color: #659DBD;">
    <div style="text-align:center; background-color:black; color: white;">
      <h1>Image Caption Generation</h1>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>