{% extends "base.html" %}
{% load static %}
  {% block content %}

    <div class="container">
      <div class="align">
        <form method="post" enctype="multipart/form-data" class="mt-5">
          {% csrf_token %}
          {{ form.image}}
          <button type="submit" class="rounded-border value={{execute_ts}}">Upload</button>
        </form>
        <form method="post" enctype="multipart/form-data" class="mt-5">
          {% csrf_token %}
          <label for="feedback">Feedback:</label>
          <input type="text" id="feedback" name="feedback">
          <input type="submit" value="Submit">
          <input type="reset">
        </form>
      </div>
      <center>
        {% if img_obj %}
          <img class="rounded img-size mt-2" src="{{ img_obj.image.url}}" alt="connect">
          <h3 class="text-black mt-4" id="result-text">{{caption}}</h3>
        {% endif %}
      </center>
    </div>

  {% endblock content %}